*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: black;
}

body {
    background: linear-gradient(-70deg, #fa7c30 50%, rgba(0, 0, 0, 0) 30%);
}

.main_body {

    height: 100vh;
}
.bg_color{
    background-color:lightgreen;
}
.question_tracker {
    border: 1px solid black;
    padding:20px;
    
}
li {
    list-style-type: none;
    margin: 10px 0px 20px o0px;
    
}

label,input {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
}

label {
    margin-left: 50px;
 
}

.quiz_body {
 height: 50vh;
}


input[type=checkbox]{
    transform: scale(2);
    padding: 10px;
}