
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: black;
}

body {
    background: linear-gradient(-70deg, #fa7c30 50%, rgba(0, 0, 0, 0) 30%)
}

#form_flex{
    height: 90vh;
}

#nav_bar {
 background-color: lightgreen;
}

.foo_bar {
    background-color: lightgreen;
}
a {
     text-decoration: none;
 }
 .a_link {
    padding: 5px 50px;
    margin:10px 4px;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: black;
    display:inline-block;
 }
.a_link::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  height: 1px;
  width:100%;
  background-color: #fa7c30 ;
  display: block;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}
.a_link:hover::before {
    transform: scale(1, 1)
}